/* Reset */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

/* Banner Section (GAME SHOW look) */
.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 50px); /* Four equal columns */
  gap: 0px; /* Space between boxes */
  text-align: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 900;
  /*padding: 0px 0;*/
  /*object-fit: cover;*/
}


.box {
  display: flex;
  justify-content: center;
  align-items: center;
  /*font-size: 2rem;*/
  /*font-weight: bold;*/
  color: white;
  height: 100px;
  margin: 0;
  padding: 0;       /* removes inner spacing */
  line-height: 1;   /* removes extra text spacing */
}

.box1 { background-color: #e74c3c; } /* Red */
.box2 { background-color: #3498db; } /* Blue */
.box3 { background-color: #2ecc71; } /* Green */
.box4 { background-color: #f1c40f; } /* Yellow */

/*
.banner .game {
  background: linear-gradient(to right, #f26a21, #e53935);
  color: #f5f1e8;
  flex: 1;
  text-align: center;
  justify-content: space-between;
  font-size: 4rem;
  font-weight: 900;
  padding: 40px 0;
}
*/

.banner .show {
  background: #3fb7b3;
  color: #f5f1e8;
  flex: 1;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  padding: 40px 0;
}

/* Navigation Section (NETWORK look) */
.network-nav {
  background-color: #142a4f; /* Dark navy */
  padding: 20px 0;
}

.network-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.network-nav a {
  text-decoration: none;
  color: #39c6d6; /* Teal letters like NETWORK */
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 2px;
  transition: 0.3s ease;
}

.network-nav a:hover {
  color: white;
}